:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --interactive-color: #2196f3;
  --header-color: #ffffff;
  --background-color: #2f303a;
  --not-active-color: #f5f4fa;
  --social-icon-color: #afb1b8;

  --primary-text: "Roboto";
  --secondary-text: "Raleway";
}
body {
  font-family: var(--primary-text), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.list {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*=========================== Header information */

.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}
.header-content,
.head-nav__list,
.contacts {
  display: flex;
  align-items: baseline;
}
.logo {
  font-family: var(--secondary-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header__logo {
  color: #000;
}
.web {
  color: var(--interactive-color);
}
.header-nav {
  margin-left: 93px;
}
.header-list {
  display: flex;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-link:not(:last-child) {
  margin-right: 50px;
}
.link,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.contacts {
  color: var(--secondary-color);
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--interactive-color);
}
.current {
  color: var(--interactive-color);
}
.current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--interactive-color);
  position: relative;
  bottom: -30px;
  animation-name: animate-after;
  animation-duration: 500ms;
}

@keyframes animate-after {
  0% {
    transform: scaleX(1);
    transform: scaleX(1.3);
  }
  50% {
    transform: scaleX(1.3);
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(0.7);
    transform: scaleX(1);
  }
}
.contacts {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--interactive-color);
}
.contacts-icon {
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover svg,
.contacts:focus svg {
  fill: var(--interactive-color);
}

/*==================== Business decision */

.hero {
  padding: 200px 0;
  background-color: var(--background-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image/bcg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
}
.button {
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--interactive-color);
  color: var(--header-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* ============Modal window */
.modal-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden .modal-window {
  position: relative;
  transform: translate(-50%, -50%) scale(0.3, 0.3);
}
.modal-window {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}
.modal-close > svg {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover > svg,
.modal-close:focus > svg {
  fill: var(--interactive-color);
}

.modal-request {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.input-field {
  margin-bottom: 10px;
  position: relative;
  outline-color: var(--interactive-color);
}
.input-field:last-child {
  margin-bottom: 20px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  text-indent: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover {
  cursor: pointer;
}
.modal-input:focus {
  outline-color: var(--interactive-color);
  border-color: var(--interactive-color);
}
.modal-input:focus ~ svg {
  fill: var(--interactive-color);
}
.modal-label {
  font-family: inherit;
  font-style: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  display: block;
  text-align: start;
}
.input-field > svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  margin-top: 4px;
  width: 100%;
  text-indent: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus {
  font-family: inherit;
  outline-color: var(--interactive-color);
  border-color: var(--interactive-color);
}
.agreement {
  min-height: 24px;
  margin-bottom: 30px;
  text-align: start;
}
.agreement-text {
  display: block;
  margin-left: 36px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.agreement-text > a {
  color: var(--interactive-color);
  text-decoration-line: underline;
}
.agreement > svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-60%);
  background-color: #fff;
  fill: #fff;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-color: var(--primary-color);
  outline: none;
}
.checkbox:checked ~ svg {
  border-color: var(--interactive-color);
  background-color: var(--interactive-color);
}
.checkbox:focus ~ svg {
  border-color: var(--interactive-color);
}
.submit-button {
  min-width: 200px;
  height: 50px;
  background-color: var(--interactive-color);
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  color: var(--header-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline-color: currentColor;
  cursor: pointer;
}

/*=================== Our benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-icon {
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: none;
}
.benefits-list {
  width: 270px;
}
.benefits-list:not(:last-child) {
  margin-right: 30px;
}

/*================== Our works */

.work.section {
  padding-top: 0;
}
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.image-wrap {
  position: relative;
  z-index: 1;
}
.image-wrap::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
.work-description {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.image-wrap > img {
  display: block;
  width: 100%;
}

/*================= Our team */
.team {
  background-color: #f5f4fa;
}
.photo {
  display: block;
}
.name,
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
}
.position {
  margin-top: 10px;
  color: var(--secondary-color);
}

.team-description {
  background-color: #fff;
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-social-list {
  margin-top: 16px;
  display: flex;
}
.team-social-list > li:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--interactive-color);
}
.social-link:focus > svg,
.social-link:hover > svg {
  fill: white;
}
.social-icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==================== Our clients */

.clients-list {
  display: flex;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--interactive-color);
}
.clients-link:hover svg,
.clients-link:focus svg {
  fill: var(--interactive-color);
}
.client-icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=================== Footer */
.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  padding: 60px 0;
}
.style {
  display: flex;
  align-items: baseline;
  letter-spacing: 0.03em;
}
.address-container {
  min-width: 231px;
  margin-right: 70px;
}
.foot {
  display: inline-block;
  color: white;
  margin-bottom: 20px;
}
address,
.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
address {
  color: var(--header-color);
}
.location {
  margin-bottom: 9px;
}
.footer-link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--interactive-color);
  outline: 1px solid var(--header-color);
}

.join-container > h3 {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-join {
  display: flex;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:not(:last-child) {
  margin-right: 10px;
}
.join-link:hover,
.join-link:focus {
  background-color: var(--interactive-color);
}
.join-link:focus {
  outline: 1px solid var(--header-color);
}
.join-link svg {
  fill: var(--header-color);
}
.container-request {
  margin-left: auto;
  width: 570px;
  height: 86px;
}
.footer-request {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 20px;
}
.footer-fieldset {
  display: flex;
  align-items: flex-start;
}
.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: var(--background-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-input:focus {
  outline: 1px solid var(--header-color);
}
.footer-submit {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--interactive-color);
  color: var(--header-color);
  cursor: pointer;
}
.footer-submit > svg {
  margin-left: 10px;
  fill: #fff;
}

/* ================== PORTFOLIO */

/* ================== Portfolio main navigation */
.portfolio {
  padding: 94px 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.nav-buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-filter {
  padding: 6px 22px;
  min-width: auto;
  background-color: var(--not-active-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter:hover,
.portfolio-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--interactive-color);
  color: var(--header-color);
}
.portfolio-navlink:not(:first-child) {
  margin-left: 8px;
}

/* ============Portfolio main list */
.list-description {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-block {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background: var(--header-color);
}
.portfolio-link {
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-link:hover,
.portfolio-link:focus {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-is-hover,
.portfolio-link:focus .portfolio-is-hover {
  transform: translateY(0%);
}
.portfolio-is-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-is-hover > article {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  margin: 63px 24px;
}
.portfolio-jpg {
  display: block;
  width: auto;
}
.portfolio-list-description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
.portfolio-list-description > h3 {
  letter-spacing: 0.03em;
}
.portfolio-list-description > p {
  letter-spacing: 0.03em;
}
